<%- include('../partials/header') %>

<div="dinner-section" class="container ">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
        <h1>Create a dinner date!</h1>
    </div>

    <div class="row">
        <div class="col-2"> </div>
        <div class="col-sm-8 d-flex justify-content-center mt-4">
            <form id="create-dinner-form" action="/dinners" method="POST">
                <label>What is the name of the event?</label>
                <input type="text" name="eventName">

                <label>When does the event start?</label>
                <input type="date" name="eventStartDate">

                <label>What time does the event start? (HH:MM AM/PM)</label>
                <input type="time" name="eventStartTime">

                <label>When does the event end?</label>
                <input type="date" name="eventEndDate">

                <label>What time does the event end? (HH:MM AM/PM)</label>
                <input type="time" name="eventEndTime">

                <label>Where is the event located?</label>
                <input type="text" name="eventLocation" placeholder="City, State">
        </div>
        <div class="col-2"> </div>
    </div>

    <div class="row mb-5">
        <div class="col 4 d-flex justify-content-center mt-4">
            <button type='submit'>Create</button>
        </div>
    </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>