<%- include('../partials/header') %>




<form id="add-foods-form" action="/dinners/<%= dinner._id %>" method="POST">
  <label>Food</label>
  <input type="text" name="foodName">
  <label>Allergens<label>
  <select name="foodAllergen" placeholder="Allergen?">
    <option value="None"></option>
    <option value="DF">Dairy Free</option>
    <option value="VG">Vegetarian</option>
    <option value="VE">Vegan</option>
    <option value="NF">Nut Free</option>
  </select>
  <input type="submit" value="Add Food">
</form>

<%- include('../partials/footer') %>