<%- include('../partials/header') %>

<container id="dinner-section">
    <div>
        <h1>Create a dinner date!</h1>
    </div>
    <div>
        <form id="create-dinner-form" action="/dinners" method="POST">
            <label>What is the name of the event?</label>
            <input type="text" name="eventName">

            <label>When does the event start?</label>
            <input type="date" name="eventStartDate">

            <label>What time does the event start? (HH:MM AM/PM)</label>
            <input type="time" name="eventStartTime">

            <label>When does the event end?</label>
            <input type="date" name="eventEndDate">

            <label>What time does the event end? (HH:MM AM/PM)</label>
            <input type="time" name="eventEndTime">

            <label>Where is the event located?</label>
            <input type="text" name="eventLocation" placeholder="City, State">

            <button type='submit'>Create</button>
        </form>
    </div>
</container>

<%- include('../partials/footer') %>