<%- include('../partials/header') %>

<!-- <div>Before adding, please ensure that the Performer is not in the following list:</div> -->


<form id="add-foods-form" action="/foods" method="POST">
  <label>Food</label>
  <input type="text" name="foodName">
  <label>Allergens<label>
  <select>
    <option>--</option>
    <option value="DF">Dairy Free</option>
    <option value="VG">Vegetarian</option>
    <option value="VE">Vegan</option>
    <option value="NF">Nut Free</option>
  </select>
  <input type="submit" value="Add Food">
</form>

<%- include('../partials/footer') %>