<%- include('./partials/header') %>

<section id="main-section">
    <a href="/dinners/new">Add a dinner</a> | 
    <a href="/dinners/index">View Dinners</a>
</section>


<%- include('./partials/footer') %>